<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-danger" href="#">SigaLaPelota</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-warning" href="/comentarios">Deixe seu comentário</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Colabore
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/colabore">Fazer uma doação!</a>
          <a class="dropdown-item" href="#">Entrar em contato</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Solicitar acesso</a>
        </div>
      </li>
    </ul>
    <form action="/login" method="post" class="form-inline my-2 my-lg-0">
      <!-- Button trigger modal -->

        <%= locals.user %>
        <% if (locals.user){ %>
          <a href="/logout">Logout</a>
        <% } %>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
          Entrar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                  <div class="form-group col-md-6">
                   <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
                  </div>
                  <div class="modal-footer mt-4">
                    <button type="submit" class="btn btn-primary">Logar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  </div>
              
              </div>

            </div>
          </div>
        </div>
    </form>
  </div>
</nav>
