<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-0 text-danger" href="/">Siga La Pelota</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notifications">Notificações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/useradmin">Usuários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Sair</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configurações</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/alterar">Alterar Email/Senha</a>
          <a class="dropdown-item" href="/excluir">Excluir Conta</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
