
<%- include('partials/header') %>
<%- include('partials/navdash') %>


<body class="bg-light">

    <div class="container">
        <div class="jumbotron mt-4">
          <h1 class="display-4">Alterar senha</h1>
          <hr class="my-4">
          <p>Usuários - Adicionar, Deletar, Alterar</p>
        </div>
          <form action="/alterar" method="POST">
            <div class="form-group">
              <label for="exampleInputPassword1">Novo Password</label>
              <input type="password" name="newPassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <span class="text-danger"><%= locals.msg %></span>
            <button type="submit" class="btn btn-primary">Alterar</button>
          </form>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
