
<%- include('partials/header') %>
<%- include('partials/navdash') %>
<%- include('partials/subnav') %>

<body class="bg-light">
</body>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/style/style.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
