
<%- include('partials/header') %>
<%- include('partials/navdash') %>


<body class="bg-light">

    <div class="container">
        <div class="jumbotron mt-4">
          <h1 class="display-4">Excluir Conta</h1>
          <hr class="my-4">
          <p>Usuários - Adicionar, Deletar, Alterar</p>
        </div>
          <form action="/excluir" method="POST">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Excluir</button>
          </form>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
