
 <%- include('partials/header') %>
 <%- include('partials/navbar') %>

<body>
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Parabéns</h1>
          <p class="lead">Deu tudo certo!</p>
        </div>
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
      </footer>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
