
 <%- include('partials/header') %>
 <%- include('partials/navbar') %>

<body>
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Parabéns</h1>
          <p class="lead">Deu tudo certo!</p>
        </div>
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="meta-box">
            <h1>Já alcançamos...</h1>
            <div class="">
                <span class="meta-box__prevista"><h3>R$ 3.000,00</h3></span>
            </div>
            <div class="progress" style="height: 50px;">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">R$ 500,00</div>
            </div>
        </div>
        <div class="colaboradores-box">
            Alfa, Beta, Gama, Jorge, ...
        </div>
      </footer>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
