
<%- include('partials/header') %>
<%- include('partials/navdash') %>
<%- include('partials/subnav') %>

<body class="bg-light">
    
    <div class="container">
        <div class="jumbotron mt-4">
          <h1 class="display-4">Editar Usuário</h1>
          <hr class="my-4">
          <p>Usuários - Adicionar, Deletar, Alterar</p>
        </div>
       
        <div class="media mb-3 usersSiga">
            <img class="mr-3 img-thumbnail rounded imgSiga" src="../img/sigalapelota.png" alt="avatar">
            <div class="media-body">
              <h5 class="mt-0"><%= locals.snapshot.userEmail %></h5>
              descricao
            </div>
        </div>
       
    </div>
</body>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/style/style.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
